<app-header> </app-header>

<!-- Main Content -->
<div class="main_div" style="background-image:url('../../assets/work.png');height: 1050px;">
    <main class="container_div" style="padding-top: 40px;height: 1050px;">
        <div class="container_header">

            <h4 style="color: aliceblue;"><b>Survey Name:</b> {{item.item}}</h4>
            <h4 style="color: aliceblue;"><b>Survey Description:</b> {{item.status}}</h4>
        </div>

        <div class="table">
            <br>
            <table>
                <!-- Header Row-->
                <tr style="background-color: #3385ff; color: white; font-weight:bolder;">
                    <th>Question</th>
                    <th>Answer (in 5 words or less))</th>
                
                </tr>
               
                <!-- Repeatable Template Row -->
                <tr *ngFor="let question of item.surveyQuestions; let i=index">
                    <!--<form #form="ngForm">-->
                    <td>{{question.ques }}</td>
                    <td>
                        <input id="answer_{{question.ques}}" type="text" name="answer_{{question.ques}}" [(ngModel)]="answers[i]"/>
               
                    </td>
                <!--</form>-->
                </tr>
                
                   

            </table>
            <br/>
            <div class="row" style="margin:auto" >
                <button type=submit (click)="save()" style="width: 200px;"> <i class="fas fa-paper-plane"></i> Submit</button>

            <button routerLink="/survey/list" style="width: 200px;" ><i class="fas fa-undo"></i> Cancel</button>
        
            </div>
            
           
            <app-footer> </app-footer>
        </div>
    </main>
</div>

<!-- <style>
   tr:nth-child(odd) {
  background-color: rgba(204, 204, 255,0.6);
  color: black;
}
   
      </style> -->

